body{
  font-family: 'Helvetica';
  background-image:url(../../mockups/sorting-screen.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
  opacity:1;
  height:768px;
  width:100%;
}
#main{
  height:768px;
  width:100%;
  position:relative;
}
/*********** REGIOES DA TELA ************/
#top-strip{
  height:5.7%;
/*  opacity:0.9;*/
}
#score{
  height:34%;
  overflow:hidden;
/*  opacity:0.9;*/
}
#buckets{
  height:60%;
  overflow:hidden;
  position:relative;
}
#photos{
  position:absolute;
  top:5.7%;
  width:240px;
  left:50%;
  margin-left:-120px;
  background-color: white;
}
#photo-throbber{
  position:absolute;
  display:none;
  width:100%;
  text-align:center;
  font-size:22px;
  top:-16px;
  letter-spacing: 4px;
  opacity:0.1;
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
}
#photo-throbber.pulse{
  opacity:0.5;
}
#photo-strip{
  list-style:none;
  margin:0;
  padding:0;
}
.photo{
  width:100%;
  text-align:center;
  margin:auto;
  position:absolute;
}
.photo img{
  border-radius:10px;
  -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
.photo.p3{
  top:20px;
  left:90px;
  width:60px;
  height:60px;
  line-height:60px;
  opacity:0.2;
}
.photo.p3 img{max-width:60px;max-height:60px;}
.photo.p2{
  top:58px;
  left:60px;
  width:120px;
  height:120px;
  line-height:120px;
  opacity:0.5;
}
.photo.p2 img{max-width:120px;max-height:120px;}
.photo.p1{
  top:142px;
  width:240px;
  height:240px;
  line-height:240px;
}
.photo.p1 img{max-width:240px;max-height:240px;}

/** GAMBI PARA O SVG DOS BUCKETS FICAR NA ROTACAO CORRETA **/
#bucket-background{
  -moz-transform-origin:left center;
  -webkit-transform-origin:left center;
  margin-top: -2505px;
  margin-left: 50%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
/*********** PLACAR ************/
#score p{
  display:inline;
  font-weight:bold;
  font-size:400px;
  margin:0;
  padding:0;
  position:absolute;
  opacity:0.5;
}
#score-left{
/*  background-color:red;*/
}
#score-right{
/*  background-color:blue;*/
  right:0;
}


