body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
ul
  list-style: none outside none;

div.picture_container
  width:100%;
  
li.picture
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  overflow: hidden;
  padding: 5px;
  position: relative;
.photo
  float:left
  width: 50%
.picture_metadata
  float:right
  width: 48%
  
div.colour_scheme_item
  width: 20px
  height: 20px
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px
  float: left