body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
ul
  list-style: none outside none;

li.picture
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  overflow: hidden;
  padding: 5px;
  position: relative;
.photo
  float:left
.picture_metadata
  float:right